@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');

* {
    box-sizing: border-box
}
/* selector por ID*/


/* Selector de Class */

.logo {
    color: #2B5D98;
    font-size: 30px;
    font-family: 'Satisfy', cursive; 
    text-align: left;
}
.parrafoGris {
    display: flex;
    justify-content: center;
    color: #3D3B3B;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    flex-direction: column;
}
.vermasCeleste {
    color: #2B5D98;
    text-align:center;
}
.tituloPrincipal {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    color: #2B5D98;
}
.tituloProyectos {
    color: #2B5D98;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align:center;
    width: auto;
    display: grid;
    grid-area: titulo;
}
.Descripcionproyectoderecha {
    width: 100%;
    padding: 5%;
    text-align: left; 
    display: grid;
    grid-area: img;
}
.imgProyecto {
    width: 100%;
    padding: 5%;
    display: grid;
    grid-area: sutitulo;
}

.centrar { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.portada {
    padding: 51px 20px;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header .headerLeft {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.principal {
    display: flex;
    justify-content: space-between
}

section .articleLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 0;
}

section .articleDerecha {
    display: flex;
    list-style-type: none;
    padding:  50px 20px 0;
    justify-content: end;
}

/* Etiquetas */
header {
    background-color: #E7B9E0;
    width: 100%;
    top: 0;
    position: fixed;

}
body {
    background-color: #f2eec7;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #2B5D98;
    font-size: 70px;
    font-family: 'Satisfy', cursive;
}

main section h2 { 
    color: #2B5D98;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

form {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between

}
header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0 20px;
    justify-content: end;
}

ul li a {
    list-style-type: none;
    display: flex;
    margin: 0 10px;
}

footer ul {
    display: flex;
    list-style-type: none;
}
.proyecto {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-areas: 
        "titulo    titulo"
        "subtitulo img"
     ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    }


@media  screen and (max-width: 780px) {
    header .headerLeft {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .articleLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0 0;
    }
    .tituloPrincipal {
        display: flex;
        justify-content: center;
        padding: 10%;
        text-align: center;
        color: #2B5D98;
    }
    .proyecto {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-areas: 
        "titulo"
        "img"
        "subtitulo"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }    
}

@media  screen and (max-width: 480px) {
    h1 {
        color: #2B5D98;
        font-size: 60px;
        font-family: 'Satisfy', cursive;
        margin: 10% 0;
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    header nav ul {
        display: flex;
        list-style-type: none;
        padding: 0 20px;
        flex-direction: column;
    }
    section .articleLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 90px 0 0;
    }
    .tituloPrincipal {
        display: flex;
        justify-content: center;
        padding: 20% 0 0;
        text-align: center;
        color: #2B5D98;
    }

}