header {
    background-color: #E7B9E0;
    width: 100%;
    top: 0;
    position: fixed;

    .headerLeft {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    nav {
        ul {
            display: flex;
            list-style-type: none;
            padding: 0 20px;
            justify-content: end;
            }
        }
}

@media  screen and (max-width: 780px) {
    header {
        .headerLeft {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        }
    }
}

@media  screen and (max-width: 480px) {
    header {
        nav {
            ul {
            display: flex;
            list-style-type: none;
            padding: 0 20px;
            flex-direction: column;
            }
        }
    }
}