main {
    section {

        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        }

        .centrar-imagen {
        display: block;
        margin: 0 auto; 
        }
        padding: 50px;  
        h2 { 
        color: $color-titulos;
        }
}     