$color-titulos: #2B5D98;
$color-parrafos: #3D3B3B;

/* Selector de Class */

.logo {
    color: $color-titulos;
    font-size: 30px;
    font-family: 'Satisfy', cursive; 
    text-align: left;  
}

.parrafoGris {
    display: flex;
    justify-content: center;
    color: $color-parrafos;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    flex-direction: column;
}
.vermasCeleste {
    color: $color-titulos;
    text-align:center;
}   
.tituloPrincipal {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    color: $color-titulos;
}
.tituloProyectos {
    color: $color-titulos;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align:center;
    width: auto;
    display: grid;
    grid-area: titulo;
}
.Descripcionproyectoderecha {
    width: 100%;
    padding: 5%;
    text-align: left; 
    display: grid;
    grid-area: img;
}
.imgProyecto {
    width: 100%;
    padding: 5%;
    display: grid;
    grid-area: sutitulo;
}

.centrar { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.portada {
    padding: 51px 20px;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.principal {
    display: flex;
    justify-content: space-between
}

@media  screen and (max-width: 780px) {
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tituloPrincipal {
        display: flex;
        justify-content: center;
        padding: 10%;
        text-align: center;
        color: $color-titulos;
    }
}

@media  screen and (max-width: 480px) {
    .tituloPrincipal {
        display: flex;
        justify-content: center;
        padding: 20% 0 0;
        text-align: center;
        color: $color-titulos;
    }

}