/* Selector de Class */

.logo {
    color: $color-titulos;
    font-size: 30px;
    font-family: 'Satisfy', cursive; 
    text-align: left;  
}

.parrafoGris {
    @include flex (flex, center, column);
    color: $color-parrafos;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.vermasCeleste {
    color: $color-titulos;
    text-align:center;
}   
.tituloPrincipal {
    @include flex;
    padding: 0;
    text-align: center;
    color: $color-titulos;
}
.tituloProyectos {
    color: $color-titulos;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align:center;
    width: auto;
    display: grid;
    grid-area: titulo;
}
.Descripcionproyectoderecha {
    width: 100%;
    padding: 5%;
    text-align: left; 
    display: grid;
    grid-area: img;
}
.imgProyecto {
    width: 100%;
    padding: 5%;
    display: grid;
    grid-area: sutitulo;
}

.centrar { 
    @include flex (flex, center, column, nowrap, center );
    align-items: center;
    text-align: center;
}

.principal {
    @include flex (flex, space-between);
}

@media  screen and (max-width: 780px) {
    .principal {
        @include flex (flex, center, column, nowrap, center);
    }
    .tituloPrincipal {
        @include flex;
        padding: 10%;
        text-align: center;
        color: $color-titulos;
    }
}

@media  screen and (max-width: 480px) {
    .tituloPrincipal {
        @include flex;
        padding: 20% 0 0;
        text-align: center;
        color: $color-titulos;
    }

}