@mixin flex ($display: flex, $content: center, $direction: row, $wrap: nowrap, $items: stretch) {
    display: $display;
    justify-content: $content;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $items;
}

@mixin boton {
    background-color: $color-secundario;
    color: $color-titulos;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(43, 93, 152, 0.20);
    width: 150px;
    height: 30px;
}